$flat-dark-green: #27AE60
$flat-green: #2ECC71

$flat-dark-blue: #2980B9
$flat-blue: #3498DB

$flat-darker-dark-blue: #2C3E50
$flat-darker-blue: #34495E

$flat-dark-gray: #7F8C8D
$flat-gray: #95A5A6

$flat-dark-red: #C0392B
$flat-red: #E74C3C

// This two colors are what gives the tone to the webpage
$main-border-color: $flat-dark-gray
$main-color: $flat-gray

$background-color: #ECF0F1
$darker-background-color: #BDC3C7
$text-color: #7F8C8D
$links-color: darken($text-color, 20)

$github-black: black
$google-red: #dd4b39
$twitter-blue: #00aced
$linkedin-blue: #007bb6
