$multiplier: 1.2

// Susy config
$total-columns: 12
$column-width: 4.5em
$gutter-width: 2em
$grid-padding: $gutter-width
$border-box-sizing: true

// Fonts
$title-font-family: 'Oleo Script Swash Caps', cursive

// Colors
$color1: #666
$color2: lighten($color1, 20)
$color3: lighten($color2, 20)

// Mixins config
$default-text-shadow-color: black
$default-text-shadow-blur: 0
$default-text-shadow-v-offset: 1px

// Susy columns config
$total-columns: 12
$mobile-columns: 4
$tablet-columns: 8
$desktop-columns: $total-columns

// Breakpoints
$small-mobile-breakpoint: 0px $mobile-columns 320px
$mobile-breakpoint: 0px $mobile-columns 480px
$tablet-breakpoint: 481px $tablet-columns 799px
$desktop-breakpoint: 800px $desktop-columns
$up-to-desktop-breakpoint: 0px $desktop-columns 1024px
