// #about
//   h1 Who am I?
//   .about-content
//     | I am a telecoms engineer, software developer, musician-wannabe, gamer, 
//     span=link_to 'codegramer', "http://codegram.com", target: "_blank"
//     |  & 
//     span=link_to 'baruco', "http://baruco.org", target: "_blank"
//     |  organizer.
//     .social-links
//       =link_to "http://github.com/dor3nz" do
//         .icon
//           i.icon-github-alt
//       =link_to "http://twitter.com/dor3nz" do
//         .icon
//           i.icon-twitter
//       =link_to "https://plus.google.com/107897333667734113722?rel=author" do
//         .icon
//           i.icon-google-plus
//       =link_to "http://www.linkedin.com/in/genismatutes" do
//         .icon
//           i.icon-linkedin
