body
  width: 960px
  margin: auto
  color: $text-color
  background-color: $background-color
  font-family: 'Lato'
  line-height: 28px

  h1, h2, h3
    color: $links-color
    font-weight: bold
    font-family: 'Englebert'

  h1
    +adjust-font-size-to(32px)
  h2
    +adjust-font-size-to(28px)

  a
    text-decoration: none
    color: $links-color
    &:hover
      text-decoration: underline

  #about, #content
    margin-top: 30px
  #about
    width: 25%
    float: left
  #content
    width: 70%
    float: right
