@import compass/css3/inline-block
@import "compass/css3/text-shadow"

#menu
  +span-columns($desktop-columns)
  text-align: center
  a
    text-decoration: none
    color: $color1

  .home-link
    +leader(0.5)
    font-family: $title-font-family
    font-size: 5em
    +single-text-shadow

  .navigation
    font-size: 1.5em
    display: block
    width: 362px
    margin: auto
    +leader(1)
    a
      float: left
      margin-right: 5px
      &:hover
        color: $color3

  +at-breakpoint($tablet-breakpoint)
    +span-columns($tablet-columns)
    .home-link
      +leader(0.4)
      font-size: 4em
    .navigation
      font-size: 1.2em
      width: 289px

  +at-breakpoint($mobile-breakpoint)
    +span-columns($mobile-columns)
    .home-link
      font-size: 3em
    .navigation
      font-size: 0.8em
      width: 207px
