.post
  margin-top: 30px
  .header
    font-family: "Lobster Two"
    color: white
    height: 50px
    background-color: $main-color
    border-bottom: 3px solid $main-border-color
    +adjust-font-size-to(32px)
    h3
      line-height: 60px
      margin-left: 120px
  .post-content
    border: 1px solid $header-border
    border-top: none
    .date
      font-style: italic
      margin-bottom: 15px
    .teaser
      font-weight: bold
      margin-bottom: 15px
    margin: auto
    line-height: 25px
    background-color: white
    padding: 30px 120px
